
<div class="container" id="homepage">
  <div class="details-section">
    <h1 class="name">Emily Hoult</h1>
    <div class="title-box col-7 p-0">
      <p class="title">UI/UX Designer & Frontend Developer</p>
    </div>
    <button class="btn btn-primary" id="cv-btn">Download CV</button>
  </div>

  <div class="d-flex svgs circle">
    <%= image_tag("circle.svg", class: "circle-svg") %>
    <%= image_tag("polka dots - square.svg", class: "polka-square-svg") %>
  </div>

  <div class="about-section">
    <h1 class="about">About</h1>
    <div class="col-7 p-0">
      <p>
        Hi, I’m Emily, a UI/UX Designer with a background in Fashion Merchandising and E-commerce. I’m British/German, grew up in the Netherlands and have been living and working in Berlin for the past 4 years.
        <br>
        <br>
        I love that UI design brings out my creativity and attention to detail and I’m passionate about designing seamless, intuitive and elegant solutions. I’m a problem solver with an eye for detail and I love
        the idea of being able to calm interfaces and improve the user experience through the use of structure, patterns and whitespace.
      </p>
    </div>
  </div>

    <div class="d-flex svgs triangle">
    <%= image_tag("triangle.svg", class: "triangle-svg") %>
    <%= image_tag("polka dots - rectangle.svg", class: "polka-rectangle-svg") %>
  </div>

  <div class="skills-section d-flex">
    <h2 class="skills col-12">Skills & Tools</h2>
    <div class="col-4 web-li">
      <div class="d-flex mb-4">
        <%= image_tag("square.svg", class: "square-svg") %>
        <h5 class="m-0">Web Development</h5>
      </div>
      <ul>
        <li>HTML, CSS, SCSS</li>
        <li>JavaScript, Bootstrap</li>
        <li>Ruby, Rails, SQL</li>
        <li>APIs, Scraping</li>
      </ul>
    </div>
    <div class="col-4 ui-li">
      <div class="d-flex mb-4">
        <%= image_tag("square.svg", class: "square-svg") %>
        <h5 class="m-0">UI/UX Design</h5>
      </div>
      <ul>
        <li>User Research & Testing</li>
        <li>User Journeys & Flows</li>
        <li>Wireframing, Prototyping</li>
        <li>Style Guides, Mood Boards</li>
        <li>Logos, Branding</li>
      </ul>
    </div>
    <div class="col-4 software-li">
      <div class="d-flex mb-4">
        <%= image_tag("square.svg", class: "square-svg") %>
        <h5 class="m-0">Software & Tools</h5>
      </div>
      <ul>
        <li>Sketch, Adobe XD, Figma</li>
        <li>Git, GitHub, Heroku</li>
        <li>Microstrategy, Tableau</li>
      </ul>
    </div>
  </div>


  <div class="work-section d-flex">
    <h1 class="work col-12">Work</h1>
    <h2>UI/UX Design</h2>
    <%= image_tag("cubocover@2x.jpg", class: "work-img") %>
    <%= image_tag("glowcover@2x.jpg", class: "work-img") %>
    <%= image_tag("wanderlistcover@2x.jpg", class: "work-img") %>
    <%= image_tag("disccover@2x.jpg", class: "work-img") %>
    <%= image_tag("paperlitecover@2x.jpg", class: "work-img") %>
    <h2 class="web-dev">Web Development</h2>
    <%= image_tag("localshopper.jpg", class: "work-img") %>
    <%= image_tag("camperworld.jpg", class: "work-img") %>
  </div>
</div>
