
<div class="container flex-grow-1" id="homepage">
  <div class="details-section">
    <h1 class="name" data-aos="out" data-aos-anchor-placement="top-top">
    Emily Hoult
    </h1>
    <div class="title-box col-7 p-0" data-aos="out" data-aos-anchor-placement="top-top">
      <p class="title wave-animation">
        <span>U</span><span>I</span><span>/</span><span>U</span><span>X</span>
        <span>D</span><span>e</span><span>s</span><span>i</span><span>g</span><span>n</span><span>e</span><span>r</span> & Frontend Developer
      </p>
    </div>
    <button class="" id="cv-btn" data-aos="out" data-aos-anchor-placement="top-top">Download CV</button>
  </div>

  <div class="d-flex svgs circle" data-aos="out" data-aos-anchor-placement="bottom-top">
    <%= image_tag("circle.svg", class: "circle-svg") %>
    <%= image_tag("p-dot-1.svg", class: "p-dot-1") %>
  </div>

  <div class="about-section d-flex flex-wrap">

    <div class="row p-0">
      <h1 class="col-12 about" id="about" data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad">About</h1>
    </div>
    <div class="row p-0">
      <div class="col-7 p-0">
        <p class="pr-4">
          <span data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad">Hey, I’m Emily. I’m a Junior UI/UX Designer and Frontend Developer</span>
          <span data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad">passionate about designing and building seamless, intuitive and elegant</span>
          <span data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad">solutions. I’m a fast learner and problem solver with a strong eye for detail.</span>
          <span data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad"><br>I have a background in Fashion Merchandising and E-Commerce where I</span>
          <span data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad">learned to understand consumer wants and needs and how to react to them.</span>
          <span data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad"></span>
          <br>
          <br>
        </p>
        <p class="pr-4">
          <span data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad">When I'm not behind my laptop, you can find me taking lots of photos of</span>
          <a href="/photos" class="link link--line" data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad">the sky and gazing at the moon.</a>
        </p>
      </div>
      <div class="col-5 p-0">
       <%= image_tag("emilyhoult.jpg", class: "emilyhoult") %>
      </div>
    </div>
  </div>

    <div class="d-flex svgs triangle">
    <%= image_tag("triangle.svg", class: "triangle-svg") %>
    <%= image_tag("p-dot-2.svg", class: "p-dot-2") %>
  </div>

  <div class="skills-section d-flex">
    <h2 class="skills col-12" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Skills & Tools</h2>
    <div class="col-4 web-li">
      <div class="d-flex mb-4" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">
        <%= image_tag("square.svg", class: "square-svg") %>
        <h5 class="m-0">Web Development</h5>
      </div>
      <ul>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">HTML, CSS, SCSS</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">JavaScript, Bootstrap</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Ruby, Rails, SQL</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">APIs, Scraping</li>
      </ul>
    </div>
    <div class="col-4 ui-li">
      <div class="d-flex mb-4" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">
        <%= image_tag("square.svg", class: "square-svg") %>
        <h5 class="m-0">UI/UX Design</h5>
      </div>
      <ul>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">User Research & Testing</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">User Journeys & Flows</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Wireframing, Prototyping</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Style Guides, Mood Boards</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Logos, Branding</li>
      </ul>
    </div>
    <div class="col-4 software-li">
      <div class="d-flex mb-4" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">
        <%= image_tag("square.svg", class: "square-svg") %>
        <h5 class="m-0">Software & Tools</h5>
      </div>
      <ul>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Sketch, Adobe XD, Figma</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Git, GitHub, Heroku</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Microstrategy, Tableau</li>
      </ul>
    </div>
  </div>


  <div class="work-section" id="work">
    <h1 class="work col-12" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Work</h1>
    <div class="work-svgs">
      <%= image_tag("p-dot-3.svg", class: "work-svg p-dot-3") %>
      <%= image_tag("semicircle-1.svg", class: "work-svg s-circle-1") %>
      <%= image_tag("p-dot-4.svg", class: "work-svg p-dot-4") %>
      <%= image_tag("p-dot-5.svg", class: "work-svg p-dot-5") %>
      <%= image_tag("p-dot-6.svg", class: "work-svg p-dot-6") %>
      <%= image_tag("p-dot-7.svg", class: "work-svg p-dot-7") %>
      <%= image_tag("p-dot-8.svg", class: "work-svg p-dot-8") %>
      <%= image_tag("semicircle-2.svg", class: "work-svg s-circle-2") %>
    </div>
      <a href="/work/cubo">
          <img class="work-img cubo-cover" src="/assets/cubocover@2x.jpg" data-aos="fade-down-right" data-aos-duration="900" data-aos-anchor-placement="top-center">
      </a>
    <a href="/work/glow" data-aos="fade-down-left">
      <img class="work-img glow-cover" src="/assets/glowcover@2x.jpg" data-aos="fade-down-left" data-aos-duration="900" data-aos-anchor-placement="top-center">
    </a>
    <a href="/work/wanderlist" data-aos="fade-down-right">
      <img class="work-img wanderlist-cover" src="/assets/wanderlistcover@2x.jpg" data-aos="fade-down-right" data-aos-duration="900" data-aos-anchor-placement="top-center">
    </a>
    <a href="/work/disc" data-aos="fade-down-left">
      <img class="work-img disc-cover" src="/assets/disccover@2x.jpg" data-aos="fade-down-left" data-aos-duration="900" data-aos-anchor-placement="top-center">
    </a>
    <a href="/work/paperlite" data-aos="fade-down-right">
      <img class="work-img paperlite-cover" src="/assets/paperlitecover@2x.jpg" data-aos="fade-down-right" data-aos-duration="900" data-aos-anchor-placement="top-center">
    </a>
    <a href="/work/localshopper" data-aos="fade-down-left">
      <img class="work-img localshopper-cover" src="/assets/localshopper.jpg" data-aos="fade-down-left" data-aos-duration="900" data-aos-anchor-placement="top-center">
    </a>
    <a href="/work/camperworld" data-aos="fade-down-right">
      <img class="work-img camperworld-cover" src="/assets/camperworld.jpg" data-aos="fade-down-right" data-aos-duration="900" data-aos-anchor-placement="top-center">
    </a>
  </div>
  <%= render 'shared/footernew' %>
</div>
