
<div class="container flex-grow-1" id="homepage">
  <div class="details-section">
    <h1 class="name" data-aos="out" data-aos-anchor-placement="top-top">
    Emily Hoult
    </h1>
    <div class="title-box col-7 p-0" data-aos="out" data-aos-anchor-placement="top-top">
      <p class="title wave-animation">
        <span>U</span><span>I</span><span>/</span><span>U</span><span>X</span>
        <span>D</span><span>e</span><span>s</span><span>i</span><span>g</span><span>n</span><span>e</span><span>r</span> & Frontend Developer
      </p>
    </div>
    <button class="" id="cv-btn" data-aos="out" data-aos-anchor-placement="top-top"><a href="emilyhoult_cv.pdf" target="_blank">Download CV</a></button>
  </div>


    <div class="d-flex svgs circle" data-aos="out" data-aos-anchor-placement="bottom-top">
      <%= image_tag("circle.svg", class: "circle-svg") %>
      <%= image_tag("p-dot-1.svg", class: "p-dot-1") %>
    </div>
  <div class="about-section d-flex flex-wrap">

    <div class="row p-0">
      <h1 class="col-12 about" id="about" data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad">About</h1>
    </div>
    <div class="row p-0">
      <div class="col-lg-7 col-md-7 col-sm-12 p-0">
        <p class="pr-4">
          <span data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad">Hey, I’m Emily. I’m a Junior UI/UX Designer and Frontend Developer</span>
          <span data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad">passionate about designing and building seamless, intuitive and elegant</span>
          <span data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad">solutions. I’m a fast learner and problem solver with a strong eye for detail.</span>
          <span data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad"><br>I have a background in Fashion Merchandising and E-Commerce where I</span>
          <span data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad">learned to understand consumer wants and needs and how to react to them.</span>
          <span data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad"></span>
          <br>
          <br>
        </p>
        <p class="pr-4">
          <span data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad">When I'm not behind my laptop, you can find me taking lots of photos of</span>
          <a href="/photos" class="link link--line" data-aos="fade-zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos-easing="ease-in-quad">the sky and gazing at the moon.</a>
        </p>
      </div>
      <div class="col-lg-5 col-md-5col-sm-12 p-0">
       <%= image_tag("emilyhoult.jpg", class: "emilyhoult") %>
      </div>
    </div>
  </div>

    <div class="d-flex svgs triangle">
    <%= image_tag("triangle.svg", class: "triangle-svg") %>
    <%= image_tag("p-dot-2.svg", class: "p-dot-2") %>
  </div>

  <div class="skills-section d-flex">
    <h2 class="skills col-12" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Skills & Tools</h2>
    <div class="col-lg-4 col-md-4 col-sm-12 web-li">
      <div class="d-flex mb-4" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">
        <%= image_tag("square.svg", class: "square-svg") %>
        <h5 class="m-0">Web Development</h5>
      </div>
      <ul>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">HTML, CSS, SCSS</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">JavaScript, Bootstrap</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Ruby, Rails, SQL</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">APIs, Scraping</li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 ui-li">
      <div class="d-flex mb-4" id="ui-title" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">
        <%= image_tag("square.svg", class: "square-svg") %>
        <h5 class="m-0">UI/UX Design</h5>
      </div>
      <ul>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">User Research & Testing</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">User Journeys & Flows</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Wireframing, Prototyping</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Style Guides, Mood Boards</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Logos, Branding</li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 software-li">
      <div class="d-flex mb-4" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">
        <%= image_tag("square.svg", class: "square-svg") %>
        <h5 class="m-0">Software & Tools</h5>
      </div>
      <ul>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Sketch, Adobe XD, Figma</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Git, GitHub, Heroku</li>
        <li data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Microstrategy, Tableau</li>
      </ul>
    </div>
  </div>


  <div class="work-section" id="work">
    <h1 class="work col-12" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">Work</h1>
    <div class="work-case-studies">
      <div class="work-case-studies-1 col-lg-6 col-md-6 col-sm-12">
        <div class="work-cs-card" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">
          <a href="/work/cubo">
              <div class="work-img-cubo">
                <div class="cubo-cover">
                </div>
              </div>
          </a>
          <div class="cs-details col">
            <div class="row">
              <h4 class="cs-details-title">Cubo</h4>
            </div>
            <div class="row d-flex justify-content-between mt-1">
              <h5 class="cs-details-desc">Money Saving App</h6>
              <div class="d-flex align-items-center cs-details-btn">
                <h6 class="m-0 pr-1"><a href="/work/cubo" class="link link--line">Case Study</a></h6>
                <%= image_tag("ArrowRight.svg", class: "arrow-right") %>
              </div>
            </div>
          </div>
        </div>
        <div class="work-cs-card" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">
          <a href="/work/wanderlist">
            <div class="work-img-wanderlist">
              <div class="wanderlist-cover">
              </div>
            </div>
          </a>
          <div class="cs-details col">
            <div class="row">
              <h4 class="cs-details-title">Wanderlist</h4>
            </div>
            <div class="row d-flex justify-content-between mt-1">
              <h5 class="cs-details-desc">Travel Booking Web-App</h6>
              <div class="d-flex align-items-center cs-details-btn">
                <h6 class="m-0 pr-1"><a href="/work/wanderlist" class="link link--line">Case Study</a></h6>
                <%= image_tag("ArrowRight.svg", class: "arrow-right") %>
              </div>
            </div>
          </div>
        </div>
        <div class="work-cs-card" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">
          <a href="/work/paperlite">
            <div class="work-img-paperlite">
              <div class="paperlite-cover">
              </div>
            </div>
          </a>
          <div class="cs-details col">
            <div class="row">
              <h4 class="cs-details-title">Paperlite</h4>
            </div>
            <div class="row d-flex justify-content-between mt-1">
              <h5 class="cs-details-desc">Note-Taking App</h6>
              <div class="d-flex align-items-center cs-details-btn">
                <h6 class="m-0 pr-1"><a href="/work/paperlite" class="link link--line">Case Study</a></h6>
                <%= image_tag("ArrowRight.svg", class: "arrow-right") %>
              </div>
            </div>
          </div>
        </div>
        <div class="work-cs-card" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">
          <a href="https://camperworld.herokuapp.com/" target="_blank">
            <div class="work-img-camperworld">
              <div class="camperworld-cover">
              </div>
            </div>
          </a>
          <div class="cs-details col">
            <div class="row d-flex justify-content-between">
              <h4 class="cs-details-title">Camperworld</h4>
              <div class="d-flex align-items-center gh-btn">
                <h6 class="m-0 pr-1"><a href="https://github.com/maisaroq/rails-camperworld" target="_blank" class="link link--line">GitHub</a></h6>
                <%= image_tag("github.svg", class: "github") %>
              </div>
            </div>
            <div class="row d-flex justify-content-between mt-1">
              <h5 class="cs-details-desc">Camping Rental Website</h6>
              <div class="d-flex align-items-center vw-live-btn">
                <h6 class="m-0 pr-1"><a href="https://camperworld.herokuapp.com/" target="_blank" class="link link--line">View Live</a></h6>
                <%= image_tag("globe.svg", class: "globe") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="work-case-studies-2 col-lg-6 col-md-6 col-sm-12">
        <div class="work-cs-card" id="glow" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">
          <a href="/work/glow">
            <div class="work-img-glow">
              <div class="glow-cover">
              </div>
            </div>
          </a>
          <div class="cs-details col">
            <div class="row">
              <h4 class="cs-details-title">Glow</h4>
            </div>
            <div class="row d-flex justify-content-between mt-1">
              <h5 class="cs-details-desc">Positivity/Mood Tracking App</h6>
              <div class="d-flex align-items-center cs-details-btn">
                <h6 class="m-0 pr-1"><a href="/work/glow" class="link link--line">Case Study</a></h6>
                <%= image_tag("ArrowRight.svg", class: "arrow-right") %>
              </div>
            </div>
          </div>
        </div>
        <div class="work-cs-card" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">
          <a href="/work/disc">
            <div class="work-img-disc">
              <div class="disc-cover">
              </div>
            </div>
          </a>
          <div class="cs-details col">
            <div class="row">
              <h4 class="cs-details-title">DISC.</h4>
            </div>
            <div class="row d-flex justify-content-between mt-1">
              <h5 class="cs-details-desc">Music Player App</h6>
              <div class="d-flex align-items-center cs-details-btn">
                <h6 class="m-0 pr-1"><a href="/work/disc" class="link link--line">Case Study</a></h6>
                <%= image_tag("ArrowRight.svg", class: "arrow-right") %>
              </div>
            </div>
          </div>
        </div>
        <div class="work-cs-card" data-aos="fade-zoom-in" data-aos-anchor-placement="bottom-bottom" data-aos-duration="700" data-aos-easing="ease-in-quad">
          <a href="https://www.localshopper.me/" target="_blank">
            <div class="work-img-localshopper">
              <div class="localshopper-cover">
              </div>
            </div>
          </a>
          <div class="cs-details col">
            <div class="row d-flex justify-content-between">
              <h4 class="cs-details-title">Local Shopper</h4>
              <div class="d-flex align-items-center gh-btn">
                <h6 class="m-0 pr-1"><a href="https://github.com/Bard89/local_shopper" target="_blank" class="link link--line">GitHub</a></h6>
                <%= image_tag("github.svg", class: "github") %>
              </div>
            </div>
            <div class="row d-flex justify-content-between mt-1">
              <h5 class="cs-details-desc">Local Gift Shopping Website</h6>
              <div class="d-flex align-items-center vw-live-btn">
                <h6 class="m-0 pr-1"><a href="https://www.localshopper.me/" target="_blank" class="link link--line">View Live</a></h6>
                <%= image_tag("globe.svg", class: "globe") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/footernew' %>
</div>
