<div class="container d-flex" id="photos-page">
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-01.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-02.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-03.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-04.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-05.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-06.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-07.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-08.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-09.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-10.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-11.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-12.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-13.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-14.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-15.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-16.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-17.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-18.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-19.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-20.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-21.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-22.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-23.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-24.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-25.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-26.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-27.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-28.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-29.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-30.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-31.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-32.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-33.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-34.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-35.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-36.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-37.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-38.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-39.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-40.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-41.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-42.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-43.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-44.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-45.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-46.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-47.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-48.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-49.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-50.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-51.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-52.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-53.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-54.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-55.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-56.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-57.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-58.jpg", class: "photos-img img-l") %>
      <%= image_tag("img-59.jpg", class: "photos-img img-c") %>
      <%= image_tag("img-60.jpg", class: "photos-img img-r") %>
  </div>
  <div class="row d-flex justify-content-between m-0">
      <%= image_tag("img-61.jpg", class: "photos-img img-l") %>
  </div>
</div>
